In [4]:
from clickhouse_driver import Client
import time
import random
import string

In [25]:
# Configs
write_to_file = True
execute_query = True
nrows = 10

In [ ]:
# Client - provide necessary info
client = Client('localhost', password='123456', port='', secure=False)

In [23]:
# Create the table in which the data will be inserted

client.execute('CREATE TABLE IF NOT EXISTS insert_test \
(ID Int64,\
Name String,\
Age UInt8, \
City String) \
Engine=MergeTree \
ORDER BY (ID, Name)')

[]

In [7]:
# Function to generate random string
def randomword(length):
   letters = string.ascii_lowercase
   return ''.join(random.choice(letters) for i in range(length))

In [12]:
# Function to generate random integer

def gen_int(len):
    return random.randint(1,len)

In [16]:
# generate the insert query

query = """
INSERT INTO insert_test (ID, Name, Age, City) VALUES """

for nrow in range(nrows):

    query+= str((gen_int(1000000),randomword(gen_int(10)),  gen_int(256), randomword(gen_int(20))))+', '

print(len(query))

In [27]:
if write_to_file:
    with open("Output.txt", "w") as text_file:
        text_file.write(query)
        print('Query saved to the specified file')
if execute_query:
    client.execute(query)
    print('Query executed successfully')

client.disconnect()

Query saved to the specified file
Query executed successfully